body {font-family: arial, helvetica, sans-serif; font-size:12pt;}
.welcome {font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:18pt; font-weight:bold;}
a {text-decoration:none; color:midnightblue;
    width:60px; height:40px; padding:0.2em; border:white outset;}
a:hover {text-decoration:underline;}
.enter {width: 40%; text-align:justify; margin:5px; text-indent:1em;
    background-color: lemonchiffon; border:slateblue medium solid;}
.enter p {font-size:12pt; color:navy;}
#Signup {background-color:rgb(169, 192, 255); width:60px; height:40px; padding:0.2em; border:white outset;}
#Cancel {background-color:powderblue; width:60px; height:40px; padding:0.2em; border:white outset;}
#login {background-color:rgb(169, 192, 255); width:60px; height:40px; padding:0.2em; border:white outset;}

div {width:1020px; margin: 0 auto;}
.header {font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:18pt; font-weight:bold;}
#hello {position: relative; animation-name: movingimage; animation-duration: 2s;
    animation-timing-function: linear; animation-iteration-count: 1;}
@keyframes movingimage
{
    0% {opacity:1; left: 1020px;}
    100% {opacity:1; left:0px;}
}

body {width: 800px; margin: 0 auto; display: flex;}


aside {display: flex; flex-flow: column; align-items: stretch; flex: 3;}
main {display: flex; flex-flow: row wrap; justify-content: space-around;}

input {
    background: blue;
    box-shadow: inset 1px 1px 1px white;
    color: whitesmoke;
    border: inset 1px;
    padding: 5px;
    width: 200px;
}

button {background: black; color: yellow; padding: 5px; border-radius: 10px; box-shadow: inset 1px white;}
section {width: 45%; height: 220px; margin: 5px; background-color: black; position: relative;}
img {width: 200px; height: 200px; display: block; position: absolute; bottom: 0px;}
section p {color: white;}


