body {font-family: arial, helvetica, sans-serif; font-size:12pt;}
.welcome {font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:18pt; font-weight:bold;}
a {text-decoration:none; color:midnightblue;
    background-color:plum; width:60px; height:40px; padding:0.2em; border:white; border-style:outset;}
a:hover {text-decoration:underline;}
.enter {width: 40%; text-align:justify; margin:5px; text-indent:1em;
    background-color: lemonchiffon; border:slateblue; border-width:medium; border-style:solid}
.enter p {font-size:12pt; color:navy;}
#Signup {background-color:rgb(169, 192, 255); width:60px; height:40px; padding:0.2em; border:white; border-style:outset;}
#Cancel {background-color:powderblue; width:60px; height:40px; padding:0.2em; border:white; border-style:outset;}
#login {background-color:rgb(169, 192, 255); width:60px; height:40px; padding:0.2em; border:white; border-style:outset;}